name: hdm_open_api_wrapper
description: "HDM Open API wrapper utilities for Flutter: HTTP helpers, snackbars, converters, loaders and simple sound controller."
version: 0.1.0
homepage: https://github.com/HosamKsbaa/hdm_open_api_wrapper

environment:
  sdk: ^3.8.1
  flutter: ">=1.17.0"

dependencies:
  awesome_snackbar_content: ^0.1.6
  dio: ^5.8.0+1
  flutter:
    sdk: flutter
  flutter_screenutil: ^5.9.3
  fluttertoast: ^8.2.12
  intl: ^0.20.2
  overlay_support: ^2.1.0
  progress_state_button: ^1.0.4
  retrofit_generator: ^8.1.0
  talker_flutter: ^5.0.0
  # soundpool: ^2.4.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:

  # To add assets to your package, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
  #
  # For details regarding assets in packages, see
  # https://flutter.dev/to/asset-from-package
  #
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # To add custom fonts to your package, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts in packages, see
  # https://flutter.dev/to/font-from-package
